.tiptap-toolbar button {
  margin: 1px;
  width: 100%;
  height: 100%;
  aspect-ratio: calc(1 / 1);
  font-size: 10px;
  color: #fff;
  border: 1px solid #fff;
  background-color: black;
  display: flex;
  justify-content: center;
}

.is-active {
  background-color: #fff !important;
  color: black !important;
}
.ProseMirror {
  min-height: 500px;
  height: 100%;
  overflow: scroll;
}
