
.menu-bar{
     padding-bottom: 5px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.text-editor{
    border-radius:5px;
    border: 1px solid grey;
    max-width: 70%;
    margin: 5rem auto;
}

.menu-bar button{
    font-size:18px;
    /* margin:7px; */
    margin-right: 3px;
    outline: none;
    border: none;
    background: none;
    color: rgb(70,70,70);
    cursor: pointer;

}

button.is-active{
    background: rgb(197,197,197);
    padding: 2px 3px;
    border-radius: 2px;
}

.ProseMirror{
    padding:10px;
    border-top:1px solid grey;
    background: white;
    border-radius: 0 0 5px 5px;
    min-height: 100px;
}

.ProseMirror > * + * {
    margin-top: 0.75em;
}

/* .ProseMirror ul{
    padding: 0 1rem;
}
.ProseMirror ol {
    padding: 0 1rem;
} */

.ProseMirror h1 {
    font-size: 2.25rem;
    font-weight: bolder; 
}
.ProseMirror h2 {
    font-size: 1.5rem;
    font-weight: bolder; 
}
.ProseMirror h3 {
    font-size: 1.3125rem;
    font-weight: bolder; 
}
.ProseMirror h4 {
    font-size: 1.125rem;
    font-weight: bolder;
}
.ProseMirror h5 {
    font-size: 1rem;
    font-weight: bolder;
}
.ProseMirror h6 {
    font-size: 1rem;
    font-weight: bolder;
}

.ProseMirror code {
    background-color: rgba(97, 97, 97, 0.1);
    color: #616161;
}

.ProseMirror pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.ProseMirror pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
}

.ProseMirror img {
    max-width: 100%;
    height: auto;
}

.ProseMirror blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(13, 13, 13, 0.1);
}

.ProseMirror hr {
    border: none;
    border-top: 2px solid rgba(13, 13, 13, 0.1);
    margin: 2rem 0;
}
