section{
    scroll-snap-align: start;    
    /* height:100vh; */
    width: 100vw;
}


.cont{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height:100vh;

}

.stile{
    height: 120vh;
}

.ttile{
    height: 160vh;
}
