@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "League Spartan";
}

.prose {
    max-width: 70vw;
}

@media (max-width: 35em) {
    .prose {
            max-width: 90vw;
        }
}

.notFound > canvas {
    height: 100vh !important;
    width: 100vw !important;
    object-fit: cover !important;
}
