.main{
    flex-wrap: wrap;
    background:#4f2fa9;
    width:80vw ;
    height:60vh;
    padding:0px;
    margin:0px;
    display:flex;
    border-radius: 5vh;
}


.text{
    float: left;
    font-family:'Times New Roman', Times, serif;
    width: 33vw;
    height: 40vh;
    color:#e3f26d;
    height: 30vh;
    padding-left: 10vw;
    padding-top: 15vh;
    
}

.text h1{
    font-weight: bold;
    font-size: 4rem;
}

.text p{

    /* font-weight: bold; */
    font-size: 2rem;
    
}

.image{
    /* float: right; */
    height: 40vh;
    width: 30vw;
    padding-top: 10vh;
    padding-left: 5vw;
}

.image img{
    width: 25vw;
    height: 25vw;
    border-radius: 20px;
}

.button{
    position: relative;
    left: 15vw;
    top:-5vh;
    float:none;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #ff6653;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
